.sidebar-option{
    font-size: 14px;
    font-family: sans-serif;
    padding-left: 20px;
}
.option-1{
    border-bottom: 1px solid #e5e5e5;
}
.option-hover:hover{
    background-color: #f2f2f2;
    border-radius: 7px;
}